<h1>Delivery Tracker</h1>
<p>Know if something gets lost in the mail.</p>
<hr>
<h2>Expecting a package?</h2>

<form action="/add_delivery" method="post">
  <div>
    <label for="description">Description</label>
    <input type="text" name="description" id="description">
  </div>
  <div>
    <label for="arrival">Arrival Date</label>
    <input type="date" name="arrival" id="arrival">
  </div>
  <div>
  <label for="details">Details</label>
  <textarea name="details" id="details"></textarea>
  </div>
  <div>
    <button type="submit">Add Package</button>
  </div>
