<h1>Delivery Tracker</h1>
<p>Know if something gets lost in the mail.</p>
<hr>
<h2>Expecting a package?</h2>

<form action="/add_package" method="post">
  <div>
    <label for="description">Description</label>
    <input type="text" name="description" id="description">
  </div>
